VITE_API_URL=
VITE_RAZORPAY_KEY_ID=
VITE_ENABLE_DEMO_ACCOUNTS=false
VITE_REQUIRE_DRIVING_LICENCE_FOR_BICYCLE=false
VITE_REQUIRE_DRIVING_LICENCE_FOR_E_BICYCLE=false
VITE_REQUIRE_DRIVING_LICENCE_FOR_MOTORBIKE=true
VITE_REQUIRE_DRIVING_LICENCE_FOR_SCOOTER=true
