VITE_API_URL=
VITE_WEBSOCKET_URL=
VITE_RAZORPAY_KEY_ID=
VITE_MAPS_API_KEY=
VITE_GOOGLE_MAPS_API_KEY=
VITE_MAP_STYLE_ID=
VITE_APP_TEST_MODE=false
VITE_ALLOW_DEMO_OTP=false
VITE_DEMO_OTP_CODE=123456
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_SHOW_DEMO_BADGE=false
VITE_ENABLE_DEMO_ACCOUNTS=false
VITE_REQUIRE_DRIVING_LICENCE_FOR_BICYCLE=false
VITE_REQUIRE_DRIVING_LICENCE_FOR_E_BICYCLE=false
VITE_REQUIRE_DRIVING_LICENCE_FOR_MOTORBIKE=true
VITE_REQUIRE_DRIVING_LICENCE_FOR_SCOOTER=true
